<form action="/cars" method="post">
	<label for="model">Car model</label>
	<input id="model" name="model" type="text">
	<label for="price">Price</label>
	<input id="price" name="price" type="text">
	<label for="miles">MIles</label>
	<input id="miles" name="miles" type="text">
	<button type="submit">Submit</button>
</form>